# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
out/

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turborepo/Vite
.turbo
.vite

# Suncube Deployment
deployment_root/
