@theme {
  --color-brand-slate: #020617; /* Slate-950 */
  --color-brand-amber: #fbbf24; /* Amber-400 */
  --color-brand-emerald: #10b981; /* Emerald-500 */
  
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui;
}

:root {
  --background: var(--color-brand-slate);
  --foreground: white;
  --accent: var(--color-brand-amber);
  --success: var(--color-brand-emerald);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}
