@import "tailwindcss";

@theme {
  --color-brand-slate: #020617;
  --color-brand-emerald: #10b981;
  --color-brand-amber: #f59e0b;
  --color-brand-rose: #f43f5e;
  --color-brand-indigo: #6366f1;
  
  --shadow-glow-emerald: 0 0 20px rgba(16, 185, 129, 0.4);
  --shadow-glow-amber: 0 0 20px rgba(245, 158, 11, 0.4);
}

@layer base {
  body {
    @apply antialiased bg-brand-slate text-white;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}
